/* Стиль темы и Инструменты */
header,
footer {
  position: relative;
}
header {
  -webkit-box-shadow: 1px 4px 4px 0px rgba(0,0,0,.05);
  box-shadow: 1px 4px 4px 0px rgba(0,0,0,.05);
  z-index: 20;
}
@media (min-width: 768px) {
  header .site-title,
  header .site-desc {
    margin-right: 100px;
  }
}
@media (max-width: 767px) {
  header .site-title {
    margin-top: 30px;
  }
}
footer {
  background-color: #BCBCBC;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: underline;
}

#site-main {
  /* Overlay-color */
  background: #FCFCFC;
}
.site-page-content {
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  max-width: 2400px;
}

/* Typography */
h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 44px;
    line-height: 54px;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 34px;
  }
}
h2 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 22px;
    line-height: 30px;
  }
}
h4 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h4 {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}
strong,
b,
.site-text-bold {
  font-weight: 600;
}
.site-text-bolder {
  font-weight: 800;
}
.site-text-medium {
  font-weight: 500;
}
.site-text-light {
  font-weight: 200;
}
p,
.site-text-p {
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 1280px) {
  p,
  .site-text-p {
    font-size: 16px;
    line-height: 22px;
  }
}
.site-text-p2 {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1280px) {
  .site-text-p2 {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .site-text-p2 {
    font-size: 14px;
    line-height: 18px;
  }
}
.site-text-p3 {
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 767px) {
  .site-text-p3 {
    font-size: 12px;
    line-height: 16px;
  }
}
.site-text-p4 {
  font-size: 12px;
  line-height: 16px;
}
.site-text-uppercase {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.site-text-sup {
  position: relative;
  top: -5px;
}
.site-text-no-wrap {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* ::Typography */

a.site-title {
  color: #707070;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.site-desc {

}

.site-tabs {
  display: block;
  height: 55px;
  position: relative;
  z-index: 10;
}
.site-tabs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}
.site-tabs__item {
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 12px;
  -webkit-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 0 10px;
  padding-left: 0;
  padding-top: 19px;
  text-align: center;
}
.site-tabs__item > a {
  color: rgba(0,0,0,.6);
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.site-tabs__item:first-child {
  margin-left: 0;
}
.site-tabs__wrapper:after {
  content: "";
  display: block;
  -webkit-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  width: 10px;
  height: 1px;
}
.site-tabs__item:not(.is-disabled) > a:hover,
.site-tabs__item:not(.is-disabled).is-active > a {
  color: #000;
}
.site-tabs__item:not(.is-disabled).is-active > a {
  cursor: default;
}

.site-lang {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
}
.site-lang li {
  display: inline-block;
  list-style: none;
  margin-right: 8px;
  padding: 0;
}
.site-lang li:last-child {
  margin-right: 0;
}
.site-lang a {
  color: rgba(0,0,0,.5);
  font-size: 11px;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.site-lang li a:hover,
.site-lang li.current_page_item a,
.site-lang li.is-active a {
  color: #000;
}
.site-lang li.current_page_item a,
.site-lang li.is-active a {
  cursor: default;
}

.site-banner {
  position: relative;
}
.site-banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 800px;
  max-height: 80vh;
  width: 100%;
}
.site-banner__item {
  background: #BCBCBC;
  position: relative;
  width: 100%;
}
.site-banner__item:after {
  content: "";
  background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,.4) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.site-banner__item-promo {
  color: #fff;
  position: absolute;
  bottom: 100px;
  z-index: 3;
}
@media (max-width: 767px) {
  .site-banner__item:after {
    background: rgba(0,0,0,.4);
  }
  .site-banner__item-promo {
    bottom: 20px;
  }
}

.site-search { }
.site-search__wrapper {
  position: relative;
}
.site-search__icon {
  position: absolute;
  width: 35px;
  height: 38px;
  top: 40px;
  left: 70px;
}
.site-search__icon svg {
  fill: #929292;
}
.site-search input[type=text] {
  background: #FCFCFC;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: rgba(0,0,0,.5);
  font-size: 28px;
  height: 107px;
  padding: 30px 10px 30px 105px;
  width: 100%;
}
.site-search input[type=text]::placeholder {
  color: rgba(0,0,0,.3);
}
.site-search-btn {
  display: none;
  background: #fff;
  border: 2px solid #E0E0E0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #999999;
  cursor: pointer;
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  right: 40px;
  padding-left: 50px;
  padding-right: 50px;
}
.site-search-main {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1400px) {
  .site-search-main {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .site-search-main .site-search-btn {
    display: block;
  }
}
.site-social {
  float: right;
}
.site-social li {
  display: inline-block;
  margin-right: 20px;
}
.site-social li:last-child {
  margin-right: 0;
}
.site-social li a {
  color: #fff;
  text-decoration: none;
}

/* Helpers */
.space-hor {
  padding-left: 20px;
  padding-right: 20px;
}
.space-hor0 {
  padding-left: 5px;
  padding-right: 5px;
}
.space-hor05 {
  padding-left: 10px;
  padding-right: 10px;
}
.space-hor15 {
  padding-left: 30px;
  padding-right: 30px;
}
.space-hor2 {
  padding-left: 40px;
  padding-right: 40px;
}
.space-left {
  padding-left: 20px;
}
.space-left0 {
  padding-left: 5px;
}
.space-left05 {
  padding-left: 10px;
}
.space-left15 {
  padding-left: 30px;
}
.space-left2 {
  padding-left: 40px;
}
.space-right {
  padding-right: 20px;
}
.space-right0 {
  padding-right: 5px;
}
.space-right05 {
  padding-right: 10px;
}
.space-right15 {
  padding-right: 30px;
}
.space-right2 {
  padding-right: 40px;
}
.space-vert {
  padding-top: 20px;
  padding-bottom: 20px;
}
.space-vert0 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.space-vert05 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.space-vert15 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.space-vert2 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.space-top {
  padding-top: 20px;
}
.space-top0 {
  padding-top: 5px;
}
.space-top05 {
  padding-top: 10px;
}
.space-top {
  padding-top: 20px;
}
.space-top15 {
  padding-top: 30px;
}
.space-top2 {
  padding-top: 40px;
}
.space-bottom0 {
  padding-bottom: 5px;
}
.space-bottom05 {
  padding-bottom: 10px;
}
.space-bottom {
  padding-bottom: 20px;
}
.space-bottom15 {
  padding-bottom: 30px;
}
.space-bottom2 {
  padding-bottom: 40px;
}
/* ::Helpers */

.wrap {
  position: relative;
}

/* Стили кнопки для слабовидящщих */

.bvi-link {
  position: fixed;
  right: 1rem;
  opacity: .75;
  padding: .375rem .75rem !important;
  z-index: 999999 !important;
  font-size: 1rem !important;
  transition: all .15s ease-in-out;
}
.bvi-link, .bvi-eye-link {
  top: 45px !important;
  border-radius: 5px !important;
}

.sidebar-widget {
  margin-top: 20px;
}
.sidebar-widget-location {
  margin-bottom: 40px;
}
.sidebar-widget__title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: 2px solid #1ebeff;
}
.sidebar-widget__subtitle {
  display: block;
  color: #596471;
  font-size: 15px;
}
.sidebar-widget__text {
  display: block;
}
.sidebar-widget-work-time-days {
  color: #596471;
}
.sidebar-widget-work-time-days-wrapper {
  margin-top: 15px;
}
.sidebar-widget-link {
  color: #19a7e0;
  display: inline-block;
  box-sizing: border-box;
}
.sidebar-widget-link:hover {
  text-decoration: underline;
}
.text-warning {
  color: #f67535;
}
.sidebar-widget__image-wrapper {
  text-align: center;
}

.text-center {
  text-align: center;
}
/* отступы marg */
.marg-top-5 {
  margin: 5px !important;
}
.marg-top-10 {
  margin-top: 10px !important;
}
.marg-top-15 {
  margin-top: 15px !important;
}
.marg-top-20 {
  margin-top: 20px !important;
}
.marg-top-25 {
  margin-top: 25px !important;
}
.marg-top-30 {
  margin-top: 30px !important;
}
.marg-top-35 {
  margin-top: 35px !important;
}
.marg-top-40 {
  margin-top: 40px !important;
}
.marg-top-45 {
  margin-top: 45px !important;
}
.marg-top-50 {
  margin-top: 50px !important;
}


.marg-bottom-5 {
  margin-bottom: 5px !important;
}
.marg-bottom-10 {
  margin-bottom: 10px !important;
}
.marg-bottom-15 {
  margin-bottom: 15px !important;
}
.marg-bottom-20 {
  margin-bottom: 20px !important;
}
.marg-bottom-25 {
  margin-bottom: 25px !important;
}
.marg-bottom-30 {
  margin-bottom: 30px !important;
}
.marg-bottom-35 {
  margin-bottom: 35px !important;
}
.marg-bottom-40 {
  margin-bottom: 40px !important;
}
.marg-bottom-45 {
  margin-bottom: 45px !important;
}
.marg-bottom-50 {
  margin-bottom: 50px !important;
}


.marg-left-5 {
  margin-left: 5px !important;
}
.marg-left-10 {
  margin-left: 10px !important;
}
.marg-left-15 {
  margin-left: 15px !important;
}
.marg-left-20 {
  margin-left: 20px !important;
}
.marg-left-25 {
  margin-left: 25px !important;
}
.marg-left-30 {
  margin-left: 30px !important;
}
.marg-left-35 {
  margin-left: 35px !important;
}
.marg-left-40 {
  margin-left: 40px !important;
}
.marg-left-45 {
  margin-left: 45px !important;
}
.marg-left-50 {
  margin-left: 50px !important;
}

.marg-right-5 {
  margin-right: 5px !important;
}
.marg-right-10 {
  margin-right: 10px !important;
}
.marg-right-15 {
  margin-right: 15px !important;
}
.marg-right-20 {
  margin-right: 20px !important;
}
.marg-right-25 {
  margin-right: 25px !important;
}
.marg-right-30 {
  margin-right: 30px !important;
}
.marg-right-35 {
  margin-right: 35px !important;
}
.marg-right-40 {
  margin-right: 40px !important;
}
.marg-right-45 {
  margin-right: 45px !important;
}
.marg-right-50 {
  margin-right: 50px !important;
}
