/* Стиль темы и Инструменты */
header,
footer {
  position: relative;
}
header {
  -webkit-box-shadow: 1px 4px 4px 0px rgba(0,0,0,.05);
  box-shadow: 1px 4px 4px 0px rgba(0,0,0,.05);
  z-index: 20;
}
#site-main a {
  opacity: 0.6;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
#site-main a:hover {
  opacity: 1;
}
.site-right-menu {
  position: absolute;
  right: 0px;
  top: 20px;
}
.site-right-menu > * {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 768px) {
  header .site-title,
  header .site-desc {
    margin-right: 100px;
  }
}
@media (max-width: 767px) {
  header .site-title {
    margin-top: 30px;
  }
}

.site-page-content {
  margin-right: auto;
  margin-left: auto;
  max-width: 2400px;
}

/* Typography */
h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 200;
  opacity: 0.7;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 44px;
    line-height: 54px;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 34px;
  }
}
h2 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 22px;
    line-height: 30px;
  }
}
h4 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h4 {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}
strong,
b,
.site-text-bold {
  font-weight: 600;
}
.site-text-bolder {
  font-weight: 800;
}
.site-text-medium {
  font-weight: 500;
}
.site-text-light {
  font-weight: 200;
}
p,
.site-text-p {
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 1280px) {
  p,
  .site-text-p {
    font-size: 16px;
    line-height: 22px;
  }
}
.site-text-p2 {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1280px) {
  .site-text-p2 {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .site-text-p2 {
    font-size: 14px;
    line-height: 18px;
  }
}
.site-text-p3 {
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 767px) {
  .site-text-p3 {
    font-size: 12px;
    line-height: 16px;
  }
}
.site-text-p4 {
  font-size: 12px;
  line-height: 16px;
}
.site-text-uppercase {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.site-text-sup {
  position: relative;
  top: -5px;
}
.site-text-no-wrap {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* ::Typography */

a.site-title {
  cursor: pointer;
  display: inline-block;
}

.news-container__content > h1,
.post > h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.site-tabs {
  display: block;
  height: 55px;
  position: relative;
  z-index: 10;
}
.site-tabs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}
.site-tabs__item {
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 0 10px;
  padding-left: 0;
  padding-top: 19px;
  text-align: center;
}
.site-tabs__item > ul {
  opacity: 0;
  position: absolute;
  top: 100%;
  margin-left: -10px;
  padding: 10px;
  pointer-events: none;
  -webkit-transition: opacity .5s ease .2s;
  transition: opacity .5s ease .2s;
}
.site-tabs__item:hover > ul {
  pointer-events: auto;
  opacity: 1;
}
.site-tabs__item:first-child {
  margin-left: 0;
}
.site-tabs__wrapper:after {
  content: "";
  display: block;
  -webkit-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  width: 10px;
  height: 1px;
}

.site-lang {
  padding: 0;
}
.site-lang li {
  display: inline-block;
  list-style: none;
  margin-right: 8px;
  padding: 0;
}
.site-lang li:last-child {
  margin-right: 0;
}
.site-lang a {
  font-size: 11px;
}
.site-lang li a:hover,
.site-lang li.current_page_item a,
.site-lang li.is-active a {
  opacity: 1;
}
.site-lang li.current_page_item a,
.site-lang li.is-active a {
  cursor: default;
}

.site-banner {
  position: relative;
}
.site-banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 800px;
  width: 100%;
}
.site-banner__item {
  background: transparent;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.site-banner__item-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.site-banner__item-bg.with-tint:after {
  content: "";
  background-image: linear-gradient(0deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 40%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.site-banner__item-bg-image {
  width: auto;
  height: 100%;
  min-width: 640px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
@media (max-width: 767px) {
  .site-banner__item-bg-image {
    background-size: auto 100%;
  }
}
.site-banner__item-promo {
  color: #fff;
  position: absolute;
  bottom: 100px;
  z-index: 5;
}
.site-search { }
.site-search__wrapper {
  margin-right: 30px;
  margin-left: 30px;
  position: relative;
}
.site-search__icon {
  position: absolute;
  width: 35px;
  height: 38px;
  top: 40px;
  left: 40px;
}
.site-search__icon svg {
  fill: #929292;
}
.site-search input[type=search] {
  background: #FCFCFC;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: rgba(0,0,0,.5);
  font-size: 28px;
  height: 107px;
  padding: 30px 10px 30px 105px;
  width: 100%;
}
.site-search input[type=text]::placeholder {
  color: rgba(0,0,0,.3);
}
.site-search .search {
  position: relative;
  z-index: 20;
}
.site-search-btn {
  display: none;
  background: #fff;
  border: 2px solid #E0E0E0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #999999;
  cursor: pointer;
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  right: 40px;
  padding-left: 50px;
  padding-right: 50px;
}
.site-search__result {
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 0vh;
  top: 0;
  visibility: hidden;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
  z-index: 2;
}
.site-search__result-wrap {
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}
.site-search__result.is-opened {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.5);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.5);
  height: 399px;
  max-height: 90vh;
  padding-top: 107px;
  visibility: visible
}
.site-search__result-wrap li {
  color: rgba(0,0,0,.7);
  font-size: 20px;
  margin-bottom: 15px;
}
.site-search__result-wrap li:last-child {
  margin-bottom: 0;
}
/* Увеличенный размер полосы поиска - модификатор -main */
.site-search-main {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .site-search__icon {
    width: 20px;
    left: 10px;
    top: 15px;
  }
  .site-search input[type=search] {
    font-size: 16px;
    height: 50px;
    padding: 0 10px 0 40px;
  }
  .site-search__result.is-opened {
    padding-top: 50px;
  }
}
@media (min-width: 1400px) {
  .site-search-main {
    margin-top: 128px;
    margin-bottom: 128px;
  }
  .site-search-main .site-search-btn {
    display: block;
  }
  .site-search-main .site-search__result-wrap {
    padding-left: 104px;
    padding-right: 100px;
  }
}
.site-social {
  float: right;
}
.site-social li {
  display: inline-block;
  margin-right: 20px;
}
.site-social li:last-child {
  margin-right: 0;
}

/* Helpers */
.space-hor {
  padding-left: 20px;
  padding-right: 20px;
}
.space-hor0 {
  padding-left: 5px;
  padding-right: 5px;
}
.space-hor05 {
  padding-left: 10px;
  padding-right: 10px;
}
.space-hor15 {
  padding-left: 30px;
  padding-right: 30px;
}
.space-hor2 {
  padding-left: 40px;
  padding-right: 40px;
}
.space-left {
  padding-left: 20px;
}
.space-left0 {
  padding-left: 5px;
}
.space-left05 {
  padding-left: 10px;
}
.space-left15 {
  padding-left: 30px;
}
.space-left2 {
  padding-left: 40px;
}
.space-right {
  padding-right: 20px;
}
.space-right0 {
  padding-right: 5px;
}
.space-right05 {
  padding-right: 10px;
}
.space-right15 {
  padding-right: 30px;
}
.space-right2 {
  padding-right: 40px;
}
.space-vert {
  padding-top: 20px;
  padding-bottom: 20px;
}
.space-vert0 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.space-vert05 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.space-vert15 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.space-vert2 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.space-top {
  padding-top: 20px;
}
.space-top0 {
  padding-top: 5px;
}
.space-top05 {
  padding-top: 10px;
}
.space-top {
  padding-top: 20px;
}
.space-top15 {
  padding-top: 30px;  
}
.space-top2 {
  padding-top: 40px;
}
.space-bottom0 {
  padding-bottom: 5px;
}
.space-bottom05 {
  padding-bottom: 10px;
}
.space-bottom {
  padding-bottom: 20px;
}
.space-bottom15 {
  padding-bottom: 30px;  
}
.space-bottom2 {
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  .space-td-hor {
    padding-left: 20px;
    padding-right: 20px;
  }
  .space-td-hor0 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .space-td-hor05 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .space-td-hor15 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .space-td-hor2 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .space-td-left {
    padding-left: 20px;
  }
  .space-td-left0 {
    padding-left: 5px;
  }
  .space-td-left05 {
    padding-left: 10px;
  }
  .space-td-left15 {
    padding-left: 30px;
  }
  .space-td-left2 {
    padding-left: 40px;
  }
  .space-td-right {
    padding-right: 20px;
  }
  .space-td-right0 {
    padding-right: 5px;
  }
  .space-td-right05 {
    padding-right: 10px;
  }
  .space-td-right15 {
    padding-right: 30px;
  }
  .space-td-right2 {
    padding-right: 40px;
  }
  .space-td-vert {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .space-td-vert0 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .space-td-vert05 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .space-td-vert15 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .space-td-vert2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .space-td-top {
    padding-top: 20px;
  }
  .space-td-top0 {
    padding-top: 5px;
  }
  .space-td-top05 {
    padding-top: 10px;
  }
  .space-td-top {
    padding-top: 20px;
  }
  .space-td-top15 {
    padding-top: 30px;
  }
  .space-td-top2 {
    padding-top: 40px;
  }
  .space-td-bottom0 {
    padding-bottom: 5px;
  }
  .space-td-bottom05 {
    padding-bottom: 10px;
  }
  .space-td-bottom {
    padding-bottom: 20px;
  }
  .space-td-bottom15 {
    padding-bottom: 30px;
  }
  .space-td-bottom2 {
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .space-md-hor {
    padding-left: 20px;
    padding-right: 20px;
  }
  .space-md-hor0 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .space-md-hor05 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .space-md-hor15 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .space-md-hor2 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .space-md-left {
    padding-left: 20px;
  }
  .space-md-left0 {
    padding-left: 5px;
  }
  .space-md-left05 {
    padding-left: 10px;
  }
  .space-md-left15 {
    padding-left: 30px;
  }
  .space-md-left2 {
    padding-left: 40px;
  }
  .space-md-right {
    padding-right: 20px;
  }
  .space-md-right0 {
    padding-right: 5px;
  }
  .space-md-right05 {
    padding-right: 10px;
  }
  .space-md-right15 {
    padding-right: 30px;
  }
  .space-md-right2 {
    padding-right: 40px;
  }
  .space-md-vert {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .space-md-vert0 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .space-md-vert05 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .space-md-vert15 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .space-md-vert2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .space-md-top {
    padding-top: 20px;
  }
  .space-md-top0 {
    padding-top: 5px;
  }
  .space-md-top05 {
    padding-top: 10px;
  }
  .space-md-top {
    padding-top: 20px;
  }
  .space-md-top15 {
    padding-top: 30px;
  }
  .space-md-top2 {
    padding-top: 40px;
  }
  .space-md-bottom0 {
    padding-bottom: 5px;
  }
  .space-md-bottom05 {
    padding-bottom: 10px;
  }
  .space-md-bottom {
    padding-bottom: 20px;
  }
  .space-md-bottom15 {
    padding-bottom: 30px;
  }
  .space-md-bottom2 {
    padding-bottom: 40px;
  }
}
/* ::Helpers */

.wrap {
  position: relative;
}

/* Стили для бокового сайдбара */
.sidebar-widget {
  margin-top: 20px;
}
.sidebar-widget-location {
  margin-bottom: 40px;
}
.sidebar-widget__title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
.sidebar-widget__subtitle {
  display: block;
  opacity: 0.6;
  font-size: 15px;
}
.sidebar-widget__text {
  display: block;
}
.sidebar-widget-work-time-days {
  opacity: 0.6;
}
.sidebar-widget-work-time-days-wrapper {
  margin-top: 15px;
}
.sidebar-widget-link {
  display: inline-block;
  box-sizing: border-box;
}
.sidebar-widget-link:hover {
  text-decoration: underline;
}
.text-warning {
  color: #f67535;
}
.sidebar-widget__image-wrapper {
  text-align: center;
}

.sidebar-right-witget {
  background: rebeccapurple !important;
}

/* отступы marg */
.marg-top-5 {
  margin: 5px !important;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-top-15 {
  padding-top: 15px;
}
.pad-top-20 {
  padding-top: 20px;
}
.pad-top-25 {
  padding-top: 25px;
}
.pad-top-30 {
  padding-top: 30px;
}
.pad-top-35 {
  padding-top: 35px;
}
.pad-top-40 {
  padding-top: 40px;
}
.pad-top-45 {
  padding-top: 45px;
}
.pad-top-50 {
  padding-top: 50px;
}

.pad-bottom-5 {
  padding-bottom: 5px;
}
.pad-bottom-10 {
  padding-bottom: 10px;
}
.pad-bottom-15 {
  padding-bottom: 15px;
}
.pad-bottom-20 {
  padding-bottom: 20px;
}
.pad-bottom-25 {
  padding-bottom: 25px;
}
.pad-bottom-30 {
  padding-bottom: 30px;
}
.pad-bottom-35 {
  padding-bottom: 35px;
}
.pad-bottom-40 {
  padding-bottom: 40px;
}
.pad-bottom-45 {
  padding-bottom: 45px;
}
.pad-bottom-50 {
  padding-bottom: 50px;
}

.pad-left-5 {
  padding-left: 5px;
}
.pad-left-10 {
  padding-left: 10px;
}
.pad-left-15 {
  padding-left: 15px;
}
.pad-left-20 {
  padding-left: 20px;
}
.pad-left-25 {
  padding-left: 25px;
}
.pad-left-30 {
  padding-left: 30px;
}
.pad-left-35 {
  padding-left: 35px;
}
.pad-left-40 {
  padding-left: 40px;
}
.pad-left-45 {
  padding-left: 45px;
}
.pad-left-50 {
  padding-left: 50px;
}

.pad-right-5 {
  padding-right: 5px;
}
.pad-right-10 {
  padding-right: 10px;
}
.pad-right-15 {
  padding-right: 15px;
}
.pad-right-20 {
  padding-right: 20px;
}
.pad-right-25 {
  padding-right: 25px;
}
.pad-right-30 {
  padding-right: 30px;
}
.pad-right-35 {
  padding-right: 35px;
}
.pad-right-40 {
  padding-right: 40px;
}
.pad-right-45 {
  padding-right: 45px;
}
.pad-right-50 {
  padding-right: 50px;
}
