
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
body {
    color: #000;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    min-width: 320px;
    padding: 0;
    word-break: break-word;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
a img {
    border: none;
}
a {
    text-decoration: none;
}
ol {
    list-style: decimal;
}
select,
button,
input,
textarea {
    font-size: inherit;
}
button {
    color: inherit;
    background-color: transparent;
    border-width: 0;
    outline: none;
    padding: 0;
}
h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 44px;
    line-height: 54px;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 34px;
  }
}
h2 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 22px;
    line-height: 30px;
  }
}
h4 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 200;
}
@media (max-width: 1280px) {
  h4 {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}
strong,
b,
.site-text-bold {
  font-weight: 600;
}
.site-text-bolder {
  font-weight: 800;
}
.site-text-medium {
  font-weight: 500;
}
.site-text-light {
  font-weight: 200;
}
p,
.site-text-p {
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 1280px) {
  p,
  .site-text-p {
    font-size: 16px;
    line-height: 22px;
  }
}
.site-text-p2 {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1280px) {
  .site-text-p2 {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .site-text-p2 {
    font-size: 14px;
    line-height: 18px;
  }
}
.site-text-p3 {
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 767px) {
  .site-text-p3 {
    font-size: 12px;
    line-height: 16px;
  }
}
.site-text-p4 {
  font-size: 12px;
  line-height: 16px;
}
.site-text-uppercase {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.site-text-sup {
  position: relative;
  top: -5px;
}
.site-text-no-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
}
