/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 320px;
  padding: 0;
}


/* Сетка */
.container {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: -10px;
  margin-left: -10px;
}
.col-5 {
  -webkit-flex: 0 0 41.666664999999995%;
  -ms-flex: 0 0 41.666664999999995%;
  flex: 0 0 41.666664999999995%;
  max-width: 41.666664999999995%;
}
.col-7 {
  -webkit-flex: 0 0 58.333331%;
  -ms-flex: 0 0 58.333331%;
  flex: 0 0 58.333331%;
  max-width: 58.333331%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-td,
.col-td-1,
.col-td-2,
.col-td-3,
.col-td-4,
.col-td-5,
.col-td-6,
.col-td-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3
.col-md-auto {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}


/* Стиль темы и Инструменты */
header,
footer {
  position: relative;
}

footer {
  background-color: #BCBCBC;
  color: #fff;
}

.site-title {

}
.site-desc {

}

.site-tabs {
  display: block;
  height: 55px;
  position: relative;
  z-index: 10;
}
.site-tabs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}
.site-tabs__item {
  box-sizing: content-box;
  color: rgba(0,0,0,.6);
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 12px;
  -webkit-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 0 10px;
  padding-left: 0;
  padding-top: 19px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.site-tabs__item:first-child {
  margin-left: 0;
}
.site-tabs__wrapper:after {
  content: "";
  display: block;
  -webkit-box-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  width: 10px;
  height: 1px;
}
.site-tabs__item:not(.is-disabled):hover,
.site-tabs__item:not(.is-disabled).is-active {
  color: #000;
}
.site-tabs__item:not(.is-disabled).is-active {
  cursor: default;
}

.site-lang {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
}
.site-lang li {
  display: inline-block;
  list-style: none;
  margin-right: 8px;
  padding: 0;
}
.site-lang li:last-child {
  margin-right: 0;
}
.site-lang a {
  color: rgba(0,0,0,.5);
  font-size: 11px;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.site-lang a:hover,
.site-lang a.current_page_item,
.site-lang a.is-active {
  color: #000;
}
.site-lang a.current_page_item,
.site-lang a.is-active {
  cursor: default;
}

.site-banner {
  position: relative;
}
.site-banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 800px;
  max-height: 80vh;
  width: 100%;
}
.site-banner__item {
  background: #BCBCBC;
  position: relative;
  width: 100%;
}
.site-banner__item-promo {
  color: #fff;
  position: absolute;
  bottom: 100px;
}

.site-search { }
.site-search__wrapper {
  position: relative;
}
.site-search__icon {
  position: absolute;
  width: 35px;
  height: 38px;
  top: 40px;
  left: 70px;
}
.site-search__icon svg {
  fill: #929292;
}
.site-search input[type=text] {
  background: #FCFCFC;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: rgba(0,0,0,.5);
  font-size: 28px;
  height: 107px;
  padding: 30px 10px 30px 105px;
  width: 100%;
}
.site-search input[type=text]::placeholder {
  color: rgba(0,0,0,.3);
}
.site-search-btn {
  background: #fff;
  border: 2px solid #E0E0E0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #999999;
  cursor: pointer;
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  right: 40px;
  padding-left: 50px;
  padding-right: 50px;
}
.site-search-main {
  padding-top: 128px;
  padding-bottom: 128px;
}

.space-hor {
  padding-left: 20px;
  padding-right: 20px;
}
.space-hor0 {
  padding-left: 5px;
  padding-right: 5px;
}
.space-hor05 {
  padding-left: 10px;
  padding-right: 10px;
}
.space-hor15 {
  padding-left: 30px;
  padding-right: 30px;
}
.space-top {
  padding-top: 20px;
}
.space-top0 {
  padding-top: 5px;
}
.space-top05 {
  padding-top: 10px;
}
.space-top {
  padding-top: 20px;
}
.space-top15 {
  padding-top: 30px;
}
